/* J'ajoute les polices à utiliser */
.containerun{
    display: flex;
    gap: 30px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 50px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-content: center;
    color: gray;
    margin-left: 20%;
    margin-right: 20%;
}
nav div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav div a {
    margin-left: 50px;
}
img {
    max-width: 100%;
    max-height: 100%;
}
h1 {
    font-family: 'Abril Fatface', cursive;
    color: palevioletred;
}


h2 {
    font-family: 'Montserrat', sans-serif;
    font-style: bold;
}

.illustration{
    width: 300px;  
}

a{
    text-decoration: none;
    color: gray;
}
.reseauxsociaux {
    display: flex;
    gap: 5px;
    text-decoration: none;
    align-items: center;
  justify-content: space-between;
  

}

.twitter {
    display: flex;
    border: #00acee solid 1px;
    background-color: #00acee;
    color: white;
    text-align: left;
    margin: auto; 
}

.linkedin{
    display: flex;
    border: #0e76a8;
    background-color:#0e76a8;
    color: white;
    text-align: left;
    margin: auto;
}

.medium{
    display: flex;
    border: black;
    background-color: black;
    color: white;
    text-align: left;
    margin: auto; 
}


.containerdeux{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin-left: 20px;
    margin-right: 20px;
    gap: 5px;    
}
.containerdeux div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
}
.containerdeux div p{
    width: 400px;
}
.containerdeux div a{
    margin-bottom: 20px;
    color: palevioletred;
}
.photomac{
    width: 400px;
}

.photopc{
    width: 400px;
}
.texte{
    display: flex; 
    flex-direction: column;
    
}