* {
    margin: 0;
}

/* Anrital Fatface est a utiliser uniquement sur les titres de niveau 1 (h1) */
h1 {
    font-family: 'Abril Fatface', sans-serif;
    color: rgb(158, 35, 82);
    display: flex;
    font-size: 50px;
    margin-left: 20%;
    margin-right: 20%;
}

/* !J'applique la police Montserrat sur le body car il faut l'appliquer sur l'ensemble du texte et des titres de niveaux2 */

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    background-color: white;
    /* margin ou padding pour bien centrer toute la page */

}

main {
    margin-left: 20%;
    margin-right: 20%;
}

a {
    text-decoration: none;
    color: black;
}

/* a:hover est utiliser pour mettre une couleur bleu sur l'ensemble des liens lorsque l'utilisateur les survoles avec sa souris */

a:hover {
    color: blue;
    font-weight: bold;
}


nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 50%;
    margin-left: 20%;
    margin-right: 20%;
}


nav div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav div a {
    margin-left: 50px;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-right: 20%;
}


.socials {
    display: flex;
    justify-content: space-around;
    margin-right: 15%;
    padding: 15px;
    margin-top: 150px;
    align-items: center;
    gap: 20px;


}

.twitter {
    border: 10px solid #00acee;
    background-color: #00acee;
    width: 150px;

}

.linkedin {
    border: 10px solid #0e76a8;
    background-color: #0e76a8;
    width: 150px;
}

.medium {
    border: 10px solid black;
    background-color: black;
    width: 150px;
}

.illustration {
    display: flex;
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 40px;
    height: auto;
    width: 600px;
}


footer a {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

p {
    text-align: justify;
}

li {
    margin-top: 15px;
    font-style: italic;
}

h2 {
    margin-top: 30px;
    color: rgb(158, 35, 82);

}

.photo {
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;

}


.photoune {
    height: auto;
    width: 350px;
}

.fin {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: flex-start;
}

.hautdepage {
    margin-left: 20%;
    margin-right: 20%;
}


footer {
    margin-left: 5%;
    margin-right: 20%;
}