/* J'ajoute les polices à utiliser */

h1 {
    font-family: 'Abril Fatface', cursive;
    color: rgb(158, 35, 82);
}


/* CSS pour toute la page */

body {
    font-family: 'Montserrat', sans-serif;
    margin-left: 15%;
    margin-right: 15%;
}

a{
    text-decoration: none;
}


/* CSS pour la barre de navigation (header) */

nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

nav div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav div a {
    margin-left: 50px;
}

a:hover{
    color: blue;
    font-weight: bold;
}

/* CSS classe "conteneur1" */

.illustration {
    width: 400px;
}

.conteneur1 {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-left: 10%;
    margin-right: 10%;
}

.div1 {
    display: flex;
    gap: 30px;
    margin-bottom: 50px;
}

.div1 div {
    margin-top: 35px;
}

.lien {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.facebook {
    width: 110px;
    border: #00acee solid 1px;
    background-color: #00acee;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.linkedin{
    width: 110px;
    border: #0e76a8 solid;
    background-color: #0e76a8;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.twitter {
    width: 110px;
    border: #00acee solid 1px;
    background-color: #00acee;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.medium {
    width: 110px;
    border: #00acee solid 1px;
    background-color: #00acee;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteneur2 {
    display: flex;
    flex-direction: column;
}

.conteneur2 div{
    display: flex;
    justify-content: space-between;
   
}

.conteneur2 h2 {
    color: #0e76a8;
    text-align: center;
    margin-bottom: 30px;
}

.conteneur2 div address {
    width: 250px;
    border: #00acee solid;
    background-color: #00acee;
    color: white;
    align-items: center;
    justify-content: center;
}

.conteneur2 div a {
    width: 250px;
    border: #00acee solid;
    background-color: #00acee;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}