/* J'ajoute les polices à utiliser */

h1 {
    font-family: 'Abril Fatface', cursive;
    color: rgb(210, 109, 131);
    margin-left: auto;

}


body {
    font-family: 'Montserrat', sans-serif;
    color: rgb(51, 51, 108);

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 420px;
    margin-right: 420px;
}

nav img {
    margin-left: 2px;
}


nav div a {
    margin-left: 50px;
}

main {
    margin: auto;
    width: 50%;
}

.logo {
    padding-left: 10%;
}


a {
    text-decoration: none;
    color: black;

}

a:hover {
    color: rgb(71, 71, 150);
}


.paragraphe {
    color: black;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    text-align: justify;

}


.paragraphe2 {
    color: black;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    text-align: justify;

}

.paragraphe3 {
    color: black;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    text-align: justify;

}


h3 {
    color: rgb(36, 36, 141);
    margin-left: auto;
}

h4 {
    color: rgb(36, 36, 141);
    margin-left: auto;
}

.photo1 {
    margin-right: auto;
    width: 840px;
    height: auto;
}

.fin {
    display: flex;
}

.photo2 {
    width: 300px;
    margin-left: 50px;
}


.propos {
    color: rgb(210, 109, 131);
}

.twitter {
    border: 3px solid #00acee;
    background-color: #00acee;
    height: 35px;
    width: 135px;
    text-align: center;
}

.linkedin {
    border: 3px solid #0e76a8;
    background-color: #0e76a8;
    height: 35px;
    width: 135px;
    text-align: center;
}

.medium {
    border: 3px solid #000000;
    background-color: #000000;
    height: 35px;
    width: 135px;
    text-align: center;
}

footer a {
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: bold;
}

.rangement {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 70px;
}

.logo3 {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;

}

.box {
    display: flex;
    gap: 40px;

}

.noimage {
    display: flex;
    flex-direction: column;
    width: 450px;
    margin-top: 15px;

}